
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/Admin/css")
    
</head>
<body>
        <form action="~/Admin/Home/Login" method="post" class="box login">
            <fieldset class="boxBody">
                <h4 style="text-align:center;font-weight:bold">Đăng nhập Admin</h4>
                <label>Tên đăng nhập</label>
                <input type="text"tabindex="1" name="UserName" placeholder="Nhập tên đăng nhập" required  >
                <label><a href="#" class="rLink" tabindex="5">Quên mật khẩu</a>Mật khẩu</label>
                <input type="password"tabindex="2" name="Password" placeholder="Nhập mật khẩu" required />
                <p style="font-style:italic; color:red;margin:0px;">@ViewBag.ThongBao</p>
            </fieldset>
            <footer>
                <lable><input type="checkbox" tabindex="3">Lưu thông tin đăng nhập</lable>
                <input type="submit"class="btnLogin" value="Đăng nhập" tabindex="4">
            </footer>
        </form>
        <footer id="main">
            <a href="http://wwww.cssjunction.com">Simple Login Form (HTML5/CSS3 Coded) by CSS Junction</a> | <a href="http://www.premiumpixels.com">PSD by Premium Pixels</a>
        </footer>
</body>
</html>
